<div class="lg:pt-10 bg-gradient-to-r from-white via-amber-50 to-white  "> 
    <div class="max-w-7xl mx-auto px-4">
        <div class="text-center">
            <div class="w-full md:w-125 m-auto">
                <h1 class="text-3xl lg:text-5xl font-bold text-center">Testimonial</h1>
                <p class="mt-5">There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration.</p>
            </div>
            <div class="w-full md:w-198 m-auto mt-13">
                <p>“Nulla efficitur nisl sit amet velit malesuada dapibus. Duis mollis felis turpis, nec semper odio
                    convallis at. Curabitur imperdiet semper arcu, a finibus arcu suscipit in. Donec quis placerat nibh.
                    Maecenas est purus, eleifend ac cursus sed, tincidunt ut sapien.
                    Morbi ornare elit at libero suscipit porta.”</p>
                <h3 class="text-xl font-medium mt-5">Esther Howard</h3>
                <p>Managing Director, ABC company</p>
            </div>
        </div>
    </div>
</div>