 
<div class="pt-8 pb-8 lg:pb-20 lg:pt-20 bg-gradient-to-r from-white via-amber-50 to-white " id="testimonial"> 
    <div class="max-w-6xl mx-auto px-4">
        @for(data of testimonials; track data){
            <div class="text-center">
                <div class="w-full md:w-125 m-auto">
                    <h1 class="text-3xl lg:text-5xl font-bold text-center">Testimonial</h1>
                    <p class="mt-5">{{ data.title}}</p>
                </div>
                <div class="w-full md:w-198 m-auto mt-13">
                    <p>{{ data.description }}</p>
                    <h3 class="text-xl font-medium mt-5">{{ data.name }}</h3>
                    <p>{{ data.companyName }}</p>
                </div>
            </div>
        }
       
    </div>
</div>