<mat-tab-group class="mt-20">
    <mat-tab class="text-xl font-semibold" label="Add About">
        <div class="min-h-screen flex items-center justify-center bg-gray-50 px-4 py-10">
            <div class="shadow-2xl w-full sm:w-[80%] lg:w-[60%] bg-white p-6 rounded-lg mt-15">
                <form [formGroup]="aboutForm" (ngSubmit)="onSubmit()" class="space-y-6">
                    <h2 class="text-2xl text-center font-medium">Add About</h2>
                    <div>
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Enter your name</mat-label>
                            <input matInput placeholder="Name" formControlName="name">
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-hint>Enter your full name</mat-hint>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>frontEnd</mat-label>
                            <textarea matInput matInput rows="6" cols="50" formControlName="frontEnd"></textarea>
                            <mat-icon matSuffix>frontEnd</mat-icon>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>backEnd</mat-label>
                            <textarea matInput matInput rows="6" cols="50" formControlName="backEnd"></textarea>
                            <mat-icon matSuffix>backEnd</mat-icon>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>education</mat-label>
                            <textarea matInput matInput rows="6" cols="50" formControlName="education"></textarea>
                            <mat-icon matSuffix>education</mat-icon>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Enter Years of experience</mat-label>
                            <input matInput type="number" formControlName="experience" placeholder="Experience" min="1"
                                step="1">
                            <mat-icon matSuffix>work</mat-icon>
                            <mat-hint>Enter only numbers</mat-hint>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Number of projects</mat-label>
                            <input matInput type="number" formControlName="projects" placeholder="Projects" min="1"
                                step="1">
                            <mat-icon matSuffix>assignment</mat-icon>
                            <mat-hint>Enter only numbers</mat-hint>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Number of clients</mat-label>
                            <input matInput type="number" formControlName="clients" placeholder="Clients" min="1"
                                step="1">
                            <mat-icon matSuffix>business</mat-icon>
                            <mat-hint>Enter only numbers</mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="">
                        <label class="block mb-2 text-medium font-medium text-gray-700">Upload Profile Image</label>
                        <input formControlName="imageUrl" type="file" (change)="onFileSelected($event)" accept="image/*"
                            class="block w-full text-sm text-gray-700 border outline h-12 items-center border-gray-300 bg-gray-300 border-t border-l border-r rounded-t-sm cursor-pointer" />
                    </div>

                    <div class="">
                        <button mat-raised-button type="submit"
                            class="bg-purple-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="About List">
        <div class="mt-10">
            <div class="f gap-6">
                @for(about of aboutList; track about.id) {
                <div class="flex bg-white shadow-md rounded-xl overflow-hidden">
                    <div class="w-80 h-100 flex justify-center items-center m-auto">
                        <img [src]="about.imageUrl" alt="Profile Image" class="w-full h-full object-cover">
                    </div>
                    <div class="p-4 sm:w-[80%] lg:w-[60%] m-auto">
                        <h2 class="text-xl font-bold mb-2">{{ about.name }}</h2>
                        <p><span class="font-medium">Front-end:</span> {{ about.frontEnd }}</p>
                        <p><span class="font-medium">Back-end:</span> {{ about.backEnd }}</p>
                        <p><span class="font-medium">Education:</span> {{ about.education }}</p>
                        <p><span class="font-medium">Experience:</span> {{ about.experience }}</p>
                        <p><span class="font-medium">Clients:</span> {{ about.clients }}</p>
                        <p><span class="font-medium">Projects:</span> {{ about.projects }}</p>
                        <div class="mt-4 flex gap-2">
                            <!-- <button (click)="updateAboutEntry(about.id, {imageUrl: about.imageUrl, name: about.name, frontEnd: about.frontEnd, backEnd: about.backEnd, education: about.education, experience: about.experience, clients: about.clients, projects: about.projects})" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-1 rounded">Edit</button> -->
                            <button (click)="deleteAboutItem(about.id, about.imageUrl)" class="bg-red-600 hover:bg-red-700 text-white px-4 py-1 rounded">Delete</button>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>

    </mat-tab>
</mat-tab-group>