<div class="lg:pb-8 lg:pt-8 bg-white text-black" id="experience">
  <div class="max-w-6xl px-4 md:px-0 mx-auto lg:mb-15 mt-8 mb-8 lg:mt-15">
    <h1 class="text-3xl lg:text-5xl font-bold text-center">Experience</h1>
    @for(display of experiences; track display){
    <div class="md:ms-10 md:me-10 lg:ms-0 lg:me-0 flex flex-col lg:flex-row gap-4 lg:gap-12 mt-8 lg:mt-15">

      <div class="order-1 lg:order-1 lg:ms-1 w-full lg:w-[20%]">
        <h2 class="text-lg font-medium">{{ display.title }}</h2>
      </div>

      <div class="order-3 lg:order-2 w-full lg:w-[60%]">
        <p>{{ display.description }}</p>
      </div>

      <div class="order-2 lg:order-3 w-full lg:w-[20%]">
        <p class=" lg:text-lg font-medium">{{ display.startDate | date: 'MMMM yyyy'}} to {{ display.endDate | date: 'MMMM yyyy'}}</p>
      </div>
    </div>
    }
  </div>
</div>