<div class="text-white pt-5 pb-10 h-lvh fixed" style="background-color: #1A202E;" [class.w-70]="MenuOpen"
    [class.w-20]="!MenuOpen">
    <div class="w-55 m-auto">
        <div class="flex items-center gap-x-2" [class.justify-between]="MenuOpen">
 
            <img src="assets/images/ILatterLogo.jpg" alt="Logo" class="w-10 h-10 rounded-full object-cover">

            @if(MenuOpen){
            <h3 class="text-2xl font-medium cursor-pointer">Imran Ali</h3>
            }
 
            <button (click)="menuToggle()" [class.ml-auto]="MenuOpen" class="shrink-0 cursor-pointer">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>

        <div class="flex items-center space-x-1 mt-7 gap-x-4">
            <img src="assets/images/selfi.jpeg" alt="profile" class="w-12 h-12 rounded object-cover">
            @if(MenuOpen){
            <div>
                <h3 class="text-xl font-medium cursor-pointer">Imran Ali</h3>
                <p>Admin</p>
            </div>
            }
        </div>
        <div id="sidebarMenu">
            <nav>
                @if(MenuOpen){
                <h4 class="p-2 text-2xl font-medium mt-2 cursor-pointer">Menu</h4>
                }
                <ul class="flex flex-col gap-y-7">
                    @for(option of sideBarOpation; track option){
                    <li class="w-full ms-2 h-7 rounded flex items-center ">
                        <i class="material-icons text-sm mr-2">{{option.icon}}</i>
                        @if(MenuOpen){
                        <a [routerLink]="option.route"
                            class="ps-1 items-center w-full h-7 hover:bg-black hover:rounded cursor-pointer">{{
                            option.lable }}</a>
                        }
                    </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>