<div class="text-white pt-5 pb-10 h-lvh fixed overflow-y-auto overflow-x-hidden" style="background-color: #1A202E;"
    [class.w-70]="MenuOpen" [class.w-20]="!MenuOpen">
    <div class="w-55 m-auto">
        <div class="flex items-center gap-4 cursor-pointer">

            <img src="assets/images/ILatterLogo.jpg" alt="Logo" class="w-10 h-10 rounded-full object-cover">
            @if(MenuOpen){
            <h3 class="text-2xl font-medium cursor-pointer" routerLink=" ">Imran Ali</h3>
            }

        </div>

        <div class="flex items-center space-x-1 mt-5 gap-x-4">
            <img src="assets/images/selfi.jpeg" alt="profile" class="w-12 h-12 rounded-full object-cover">
            @if(MenuOpen){
            <div>
                <h3 class="text-xl font-medium cursor-pointer">Imran Ali</h3>
                <p>Admin</p>
            </div>
            }
        </div>
        <div id="sidebarMenu">
            <nav>
                @if(MenuOpen){
                <h4 class="p-2 text-2xl font-medium mt-2 cursor-pointer">Menu</h4>
                }
                <ul class="flex flex-col gap-y-7">
                    @for(option of sideBarOpation; track option){
                    <li class="w-full ms-2 h-7 rounded flex items-center">
                        <i class="material-icons text-base mr-2 flex items-center justify-center">{{ option.icon }}</i>
                        @if(MenuOpen){
                        <a [routerLink]="option.route"
                            class="ps-1 w-full h-7 flex items-center hover:bg-black hover:rounded cursor-pointer">
                            {{ option.lable }}
                        </a>
                        }
                    </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>