<div class="bg-gradient-to-r text-black from-white px-4 md:px-0 via-amber-50 to-white" id="contact">
    <h1 class="text-3xl lg:text-5xl font-bold text-center">Contacts</h1>
    @if(isSuccess){
    }
    <div class=" pt-10 mx-auto max-w-6xl lg:mt-5">

        <div class="items-center shadow-md   md:ms-3 bg-white p-2 lg:p-15 rounded relative -mb-10">
            <div>
                <h1 class="text-2xl lg:text-4xl font-medium text-center lg:mt-3">Let’s discuss your Project</h1>
            </div>
            <div class="flex justify-center mt-5 md:mt-6 px-4 lg:hidden m-auto md:w-180 lg:w-100">
                <p>Feel free to reach out with any questions, feedback, or collaboration ideas. I'm always happy to
                    connect!</p>
            </div>
            <div class="w-full lg:flex lg:p-6">
                <!-- Left Column -->
                <div class="w-full md:w-180 lg:w-100 m-auto">
                    <div class="w-full rounded mt-6 bg-white">
                        <p>You can reach me anytime via email or phone.</p>
                        <p>Feel free to contact me for any inquiries or assistance.</p>
                    </div>
                    <div class="w-full rounded shadow-xl p-4 mt-4 flex items-center space-x-4 bg-white">
                        <i class="bi bi-geo-alt-fill text-4xl text-red-600"></i>
                        <div class="flex flex-col">
                            <span class="text-gray-700">Address:</span>
                            <span class="font-medium text-xl cursor-pointer">Islamabad, Pakistan</span>
                        </div>
                    </div>

                    <div class="w-full rounded shadow-xl p-4 mt-12 flex items-center space-x-4 bg-white">
                        <i class="bi bi-telephone-fill text-4xl"></i>
                        <div class="flex flex-col">
                            <span class="text-gray-700">Call Me Now:</span>
                            <a href="tel:+923477671352" class="flex items-center space-x-2 hover:underline">
                                <span class="font-medium text-xl">+92 347 7671352</span>
                            </a>
                        </div>
                    </div>

                    <div class="w-full rounded shadow-xl p-4 mt-15 flex items-center space-x-4 bg-white">
                        <i class="bi bi-envelope text-4xl"></i>
                        <div class="flex flex-col">
                            <span class="text-gray-700">My Email:</span>
                            <a href="mailto:imranali23322@gmail.com"
                                class="flex items-center space-x-2 hover:underline">
                                <span class="font-medium text-xl break-all lg:break-normal">
                                    imranali23322&#64;gmail.com
                                </span>
                            </a>
                        </div>
                    </div>

                    @for(links of profileList; track links){
                    <div class="w-full lg:w-100 rounded shadow-2xs p-4 mt-12 flex items-center space-x-4 bg-white">
                        <div class=" m-auto rounded">
                            <div class="w- full flex gap-8 lg:gap-15 m-auto">
                                <a [href]="links.linkdIn" target="_blank" class="text-blue-600 text-2xl">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                                <a [href]="links.fiverr" target="_blank" class="text-green-500 text-2xl">
                                    <i class="bi bi-link"></i>
                                </a>
                                <a [href]="links.github" target="_blank" class="text-black text-2xl">
                                    <i class="bi bi-github"></i>
                                </a>
                                <a [href]="links.instagram" target="_blank" class="text-pink-500 text-2xl">
                                    <i class="bi bi-instagram"></i>
                                </a>
                                <a [href]="links.facebook" target="_blank" class="text-blue-700 text-2xl">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    }

                </div>

                <!-- Right Column -->
                <div class="w-full md:w-180 lg:w-100 m-auto mt-10 md:mt-6  -4 lg:ms-10">
                    <div class="hidden lg:block">
                        <p>Feel free to reach out with any questions, feedback, or collaboration ideas. I'm always happy
                            to
                            connect!</p>
                    </div>
                    <div>
                        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" action="" class="flex flex-col gap-y-4">
                            <div>
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>Name</mat-label>
                                    <input formControlName="name" matInput placeholder="Enter you name">
                                    <mat-icon matSuffix>person</mat-icon>
                                    @if(contactForm.controls['name'].hasError('required') &&
                                    contactForm.controls['name'].touched){
                                    <span class="text-red-800">Name is required</span>
                                    } @else if (contactForm.controls['name'].hasError('pattern')) {
                                    <span class=" text-red-800">Name must contain only letters</span>
                                    }
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="example-full-width" class="w-full mt-3">
                                    <mat-label>Email</mat-label>
                                    <input formControlName="email" type="email" matInput
                                        placeholder="imranali23322@gmail.com">
                                    <mat-icon matSuffix>mail</mat-icon>
                                    @if(contactForm.controls['email'].hasError('required') &&
                                    contactForm.controls['email'].touched){
                                    <span class="text-red-800">Email is required</span>
                                    } @else if (contactForm.controls['email'].hasError('pattern')) {
                                    <span class="text-red-800">Invalid email format</span>
                                    }
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field appearance="fill" class="w-full mt-3">
                                    <mat-label>Subject</mat-label>
                                    <input formControlName="subject" matInput placeholder="Enter you subject">
                                    <mat-icon matSuffix>title</mat-icon>
                                    @if(contactForm.controls['subject'].hasError('required') &&
                                    contactForm.controls['subject'].touched){
                                    <span class="text-red-800">Subject is required</span>
                                    } @else if (contactForm.controls['subject'].hasError('pattern')) {
                                    <span class=" text-red-800">Subject must contain letters and can include numbers and
                                        basic symbols.</span>
                                    }
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="w-full mt-3">
                                    <mat-label>Textarea</mat-label>
                                    <textarea formControlName="message" matInput></textarea>
                                    @if(contactForm.controls['message'].hasError('required') &&
                                    contactForm.controls['message'].touched){
                                    <span class="text-red-800">Message is required</span>
                                    }
                                </mat-form-field>
                            </div>

                            <div>
                                <div class="flex items-center">
                                    @if(isLoading){
                                    <div class="border border-purple-500 p-1 rounded">
                                        <mat-spinner diameter="35" mode="indeterminate"></mat-spinner>
                                    </div>
                                    }

                                    @if(!isLoading){
                                    <button mat-flat-button type="submit" class="bg-purple-500 text-white w-26 h-10">
                                        <span class="-ms-6">Submit</span>
                                    </button>
                                    <img src="assets/images/Vector.png" alt="arrow" class="w-4 h-4 absolute ms-18">
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>