<div class="pt-14 bg-gradient-to-r from-white via-amber-50 to-white" id="contactPage">
    <h1 class="text-3xl lg:text-5xl font-bold text-center">Contacts</h1>
    <div class="mx-auto max-w-7xl mt-5 lg:mt-5">
        <div class="items-center shadow-md lg:ms-25 lg:me-20 bg-white p-2 lg:p-15 rounded relative -mb-10">
            <div>
                <h1 class="text-2xl lg:text-4xl font-medium text-center lg:mt-3">Let’s discuss your Project</h1>
            </div>
            <div class="lg:hidden w-full md:w-180 lg:w-100 m-auto mt-5 md:mt-6 px-4 lg:ms-10">
                <p>Feel free to reach out with any questions, feedback, or collaboration ideas. I'm always happy to
                    connect!</p>
            </div>
            <div class="w-full lg:flex p-6">
                <!-- Left Column -->
                <div class="w-full md:w-180 lg:w-100 m-auto">
                    <div class="w-full rounded shadow-xl p-4 mt-5 flex items-center space-x-4 bg-white">
                        <i class="bi bi-geo-alt-fill text-4xl text-red-600"></i>
                        <div class="flex flex-col">
                            <span class="text-gray-700">Address:</span>
                            <span class="font-medium text-xl cursor-pointer">Islamabad, Pakistan</span>
                        </div>
                    </div>

                    <div class="w-full rounded shadow-xl p-4 mt-12 flex items-center space-x-4 bg-white">
                        <i class="bi bi-telephone-fill text-4xl"></i>
                        <div class="flex flex-col">
                            <span class="text-gray-700">Call Me Now:</span>
                            <a href="tel:+923477671352" class="flex items-center space-x-2 hover:underline">
                                <span class="font-medium text-xl">+92 347 7671352</span>
                            </a>
                        </div>
                    </div>

                    <div class="w-full rounded shadow-xl p-4 mt-15 flex items-center space-x-4 bg-white">
                        <i class="bi bi-envelope text-4xl"></i>
                        <div class="flex flex-col">
                            <span class="text-gray-700">My Email:</span>
                            <a href="mailto:imranali23322@gmail.com"
                                class="flex items-center space-x-2 hover:underline">
                                <span class="font-medium text-xl break-all lg:break-normal">
                                    imranali23322&#64;gmail.com
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="w-full lg:w-80 rounded shadow-2xs p-4 mt-12 flex items-center space-x-4 bg-white">
                        <div class=" m-auto rounded">
                            <div class="flex gap-10 m-auto">
                                <a href="https://www.linkedin.com" class="text-blue-600 text-2xl">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                                <a href="https://www.fiverr.com" class="text-green-500 text-2xl">
                                    <i class="bi bi-link"></i>
                                </a>
                                <a href="https://github.com" class="text-black text-2xl">
                                    <i class="bi bi-github"></i>
                                </a>
                                <a href="https://www.instagram.com" class="text-pink-500 text-2xl">
                                    <i class="bi bi-instagram"></i>
                                </a>
                                <a href="https://www.facebook.com" class="text-blue-700 text-2xl">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right Column -->
                <div class="w-full md:w-180 lg:w-100 m-auto mt-10 md:mt-6 px-4 lg:ms-10">
                    <div class="hidden lg:block">
                        <p>Feel free to reach out with any questions, feedback, or collaboration ideas. I'm always happy
                            to
                            connect!</p>
                    </div>
                    <div>
                        <form action="" class="">
                            <div>
                                <mat-form-field appearance="fill" class="w-full md:w-[90-%] mt-3 m-auto">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="Enter you name">
                                    <mat-icon matSuffix>person</mat-icon>
                                    <mat-hint>Enter your full name</mat-hint>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="example-full-width" class="w-full md:w-[90-%] mt-3 m-auto">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput placeholder="imranali23322@gmail.com">
                                    <mat-icon matSuffix>mail</mat-icon>
                                    <mat-hint>Enter a valid email like imranali23322&#64;gmail.com</mat-hint>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field appearance="fill" class="w-full md:w-[90-%] mt-3 m-auto">
                                    <mat-label>Subject</mat-label>
                                    <input matInput placeholder="Enter you subject">
                                    <mat-icon matSuffix>title</mat-icon>
                                    <mat-hint>Enter message subject</mat-hint>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="w-full md:w-[90-%] mt-3 m-auto">
                                    <mat-label>Textarea</mat-label>
                                    <textarea matInput></textarea>
                                </mat-form-field>
                            </div>

                            <div>
                                <div class="flex items-center">
                                    <button mat-flat-button class="bg-purple-500 text-white w-26 h-10">
                                        <span class="-ms-6">Submit</span>

                                    </button><img src="assets/images/Vector.png" alt="arrow"
                                        class="w-4 h-4 absolute ms-18">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>