<div class="text-white" style="background-color: #293548;">
    <div class="max-w-6xl mx-auto py-5">
        <div
            class="flex flex-col m-auto gap-y-3 lg:flex lg:flex-row lg:justify-between items-center ms-2 mt-8 lg:mt-10">
            <div class="flex items-center gap-3">
                <img src="assets/images/ILatterLogo.jpg" alt="" class="w-10 h-10 rounded-full object-cover">
                <span class="text-xl font-medium">Imran Ali</span>
            </div>
            <div class="">
                <ul class="flex flex-wrap justify-center gap-x-7 text-center font-normal text-white">
                    <li><a routerLink="/" fragment="about" class="hover:text-purple-600">Home</a></li>
                    <li><a routerLink="/" fragment="projects" class="hover:text-purple-600">Projects</a></li>
                    <li><a routerLink="/" fragment="experties" class="hover:text-purple-600">Service</a></li>
                    <li><a routerLink="/" fragment="skills" class="hover:text-purple-600">Skills</a></li>
                    <li><a routerLink="/" fragment="experience" class="hover:text-purple-600">Experience</a></li>
                    <li><a routerLink="/" fragment="testimonial" class="hover:text-purple-600">Testimonial</a></li>
                    <li><a routerLink="/" fragment="testimonial" class="hover:text-purple-600">Testimonial</a></li>

                </ul>
            </div>
            <div class="items-center text-center">
                <p>Copyright © 2025 | All rights reserved.</p>
            </div>
        </div>
    </div>
</div>