<div class="bg-gray-100 py-12">
    <div class="max-w-6xl mx-auto">
        @if(project){
        <div class="bg-white shadow-md rounded-2xl p-8 ms-3">
            <img [src]="project.projectImage" alt="">
            <h1 class="text-4xl font-semibold text-gray-800 mb-4 mt-5">{{project.title}}</h1>
            <p class="text-gray-600 leading-relaxed mb-6">
                {{project.fullDescription}}
            </p>
            <a [href]="project.projectUrl" target="_blank"
                class="text-purple-500 p-2 bg-white border border-purple-500 w-35 mt-3 h-10 rounded text-center no-underline font-medium">
                View Project Demo <i class="bi bi-arrow-right ml-2 text-purple-500"></i>
            </a>
        </div>
        }
    </div>
</div>