<div class="bg-gradient-to-r from-white via-pink-25 to-green-100 min-h-screen">
    <div class="about-Section py-3 lg:py-20 lg:mb-20" data-aos="fade-up">
        <div class="flex flex-col-reverse justify-between lg:flex-row max-w-7xl mx-auto px-4">
            <div class="w-full lg:w-160 lg:ms-5 ">
                <div data-aos="fade-right">
                    <h3 class="text-2xl lg:text-4xl font-bold">Hello, I’m</h3>
                    <h1 class="text-4xl lg:text-6xl font-bold typing-animation" data-aos="fade-right" data-aos-delay="800">Imran Ali</h1>
                </div>
                <div class="mt-3">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat aliquam iure accusamus fugit
                        totam
                        facere necessitatibus placeat cumque dolorem debitis cupiditate soluta animi ducimus nemo
                        exercitationem, modi obcaecati eius eveniet id porro nostrum beatae ab quisquam dolorum. Sint
                        consequatur praesentium modi necessitatibus nihil velit quasi pariatur enim quibusdam minus
                        voluptatem quisquam, dolorem voluptate perferendis doloremque dolore atque unde adipisci error
                        facilis odio magni fuga? Ut ea voluptatem debitis accusantium aliquid quae explicabo, magnam
                        nemo
                        doloribus reiciendis obcaecati, facilis maiores facere aperiam? Hic ex atque aliquam maiores
                        corporis soluta sunt quidem id amet in alias quis possimus, inventore qui facere dolore!</p>
                </div>
                <div>
                    <button class="bg-purple-500  px-5 py-3 mt-4 rounded text-white font-medium">See more!</button>
                </div>
                <div class="flex flex-wrap mt-5 lg:mt-22 gap-4 text-center rounded">
                    <div class="bg-purple-100 w-full md:w-50 h-24 flex flex-col justify-center items-center rounded">
                        <span class="text-2xl font-bold">1+ Y.</span>
                        <p class="text-sm">Experience</p>
                    </div>
                    <div class="bg-purple-100 w-full md:w-50 h-24 flex flex-col justify-center items-center rounded">
                        <span class="text-2xl font-bold">18+</span>
                        <p class="text-sm">Projects Completed</p>
                    </div>
                    <div class="bg-purple-100 w-full md:w-50 h-24 flex flex-col justify-center items-center rounded">
                        <span class="text-2xl font-bold">10</span>
                        <p class="text-sm">Happy Clients</p>
                    </div>
                </div>
            </div>
            <div
                class="w-full sm:w-[45%] h-[350px] md:h-[636px] rounded flex justify-center items-center mx-auto mb-5 lg:mb-0">
                <img src="assets/images/selfi.jpeg" alt="" class="max-w-full max-h-full object-cover rounded" />
            </div>
        </div>
    </div>
    <div class=" ">
        <div class="mx-auto max-w-7xl mt-20">
            <div
                class="flex flex-col justify-between gap-3 lg:flex-row items-center shadow-md lg:ms-25 lg:me-20 bg-white lg:p-15 p-3 rounded relative -mb-8">
                <div class="relative">
                    <div class="w-ful sm:w-[442px] h-[450px] lg:h-[468px]  flex justify-center rounded">
                        <img src="assets/images/selfi.jpeg" alt="" class="w-full h-full object-cover rounded">
                    </div>
                    <div class="absolute left-0 shadow-md right-0 bottom-[-2px] z-10 transform translate-y-1/2 w-60 m-auto p-3 rounded"
                        style="background-color: #f7faf7;">
                        <div class="flex justify-center gap-5 m-auto">
                            <a href="https://www.linkedin.com" class="text-blue-600 text-2xl">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a href="https://www.fiverr.com" class="text-green-500 text-2xl">
                                <i class="bi bi-link"></i>
                            </a>
                            <a href="https://github.com" class="text-black text-2xl">
                                <i class="bi bi-github"></i>
                            </a>
                            <a href="https://www.instagram.com" class="text-pink-500 text-2xl">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="https://www.facebook.com" class="text-blue-700 text-2xl">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-130">
                    <h2 class="font-bold text-4xl mt-12 lg:mt-0">I am a Frontend Developer specializing in Angular</h2>
                    <p class="mt-6">I am a passionate and dedicated Frontend Developer, primarily focused on building
                        dynamic and responsive web applications using Angular. With strong expertise in HTML, CSS,
                        JavaScript, TypeScript, and Tailwind CSS, I create seamless and intuitive user interfaces. My
                        experience also includes REST API integration, i18n localization, and utilizing RxJS for
                        reactive programming to ensure high performance and scalability.</p>
                    <div class="flex justify-center mb-5 gap-5 mt-6 items-center">
                        <button class="btn bg-purple-500 text-white rounded w-30 h-10">My Projects</button>
                        <button
                            class="bi bi-download btn text-purple-500 border border-purple-500 rounded w-40 items-center text-center flex justify-center h-10 gap-2">
                            Download CV
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About with social meida link and short introduction -->