<mat-tab-group class="mt-20">
    <mat-tab label="Service which i offer">
        <div class="  flex   justify-center bg-gray-50 px-4 py-10">
            <div class="w-full sm:w-[80%] lg:w-[60%] shadow-2xl rounded bg-white p-6 py-10 mt-15">
                <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" class="space-y-5">
                    <h2 class="text-2xl text-center font-medium">Add Service</h2>
                    <div>
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Enter the service title</mat-label>
                            <input matInput placeholder="Service" formControlName="title">
                            <mat-icon matSuffix>support_agent</mat-icon>
                            <mat-hint>Enter the service title</mat-hint>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Description</mat-label>
                            <textarea formControlName="description" matInput matInput rows="6" cols="50"></textarea>
                            <mat-icon matSuffix>description</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="">
                        <button mat-raised-button type="submit"
                            class="bg-purple-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600">
                            Submit
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="List of service">
        <div class="mt-10">
            <div class="items-center justify-center  md:grid-cols-2 gap-6">
                @for(service of services(); track service) {
                <div class="bg-white rounded-xl overflow-hidden">
                    <div class="p-4 sm:w-[80%] lg:w-[60%] m-auto shadow gap-y-5">
                        <h2 class="text-xl font-bold mb-2">{{ service.title }}</h2>
                        <p><span class="font-medium">Front-end:</span> {{ service.description }}</p>
                        <div class="mt-4 flex gap-2">
                            <button class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-1 rounded">Edit</button>
                            <button class="bg-red-600 hover:bg-red-700 text-white px-4 py-1 rounded">Delete</button>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </mat-tab>
</mat-tab-group>